body{
    margin: 0px;
}

main{
    margin-left: 20px;
    margin-right: 20px;;
}

h1{
    text-align: center;
}

.navbar{
    list-style-type: none;
    background-color:#e7dabc;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.navbar ul{
    list-style-type:none;
    background-color:#e7dabc;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
}

.navbar a{
    color: #578d71;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #e7dabc;
}