/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*asterisk wildcard selecter to overide default styles added by the browser*/

* {
padding: 0;
margin: 0;
border: none; 
}

/*General styles*/

body{
   font-family: latto, sans-serif; 
    font-weight: 300;

    /*Generic project styles*/ 
    color:#578d71
}


/* Main Header*/
header {
background-color: rgb(218, 191, 129); 
}

/* headings and logo */
h1, h2 {
    font-family: Oswald, sans-serif; 
    text-transform: uppercase;
    letter-spacing: 4px;
    color:#578d71; 
}

#logo {
    
    font-size: 200; 
}

/*main*/ 

main{
background-color: white; 
/*Make main element take up any surplus space to push footer down*/ 
flex: 1 0 auto; 
}

h1{
    text-align: center;
}

.navbar{
    list-style-type: none;
    background-color:#e7dabc;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.navbar ul{
    list-style-type:none;
    background-color:#e7dabc;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
}

.navbar a{
    color: #578d71;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #e7dabc;
}

/*footer*/

footer {
background-color: #e7dabc; 
}